.articles {
  padding: var(--size-4);
}

.wrapper {
  max-width: var(--page-size);
  margin: var(--size-24) auto;
}

.articles h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: var(--size-8);
}
