.article {
  box-shadow: 0 var(--size-1) var(--size-4) var(--color-grey-800);
  background-color: var(--color-grey-600);
  display: flex;
  flex-direction: column;
  border-radius: var(--size-2);
  overflow: hidden;
  width: var(--size-44); /* Adjust the width as desired */
}

.article:hover {
  box-shadow: 0 var(--size-1) var(--size-5) var(--color-grey-900);
  cursor: pointer;
}

.article a {
  color: var(--color-grey-100);
  text-decoration: none;
}

.image {
  position: relative;
  height: var(--size-28); /* Adjust the height as desired */
  overflow: hidden;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  padding: var(--size-3); /* Adjust the padding as desired */
}

.content h3 {
  margin: var(--size-2) 0; /* Adjust the margin as desired */
  font-size: var(--size-4); /* Adjust the font size as desired */
}

.content time {
  font-style: italic;
  color: var(--color-grey-300);
  font-size: var(--size-3); /* Adjust the font size as desired */
}

.content p {
  line-height: 1.2;
  margin-bottom: var(--size-1); /* Adjust the margin as desired */
  font-size: var(--size-2);
}
