.header {
  z-index: 10;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid var(--color-gray-light);
  backdrop-filter: blur(10px);
  padding-inline: var(--size-4);
}

.header nav {
  max-width: var(--page-size);
  margin: 0 auto;
}

.header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: stretch;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  margin-bottom: 0;
}

.header a {
  display: block;
  height: 100%;
  color: var(--color-black);
  padding: 20px;
  transition: all 0.2s;
  font-family: 'Roboto Condensed', sans-serif;
}

.header a:hover {
  background-color: var(--color-gray-light);
  color: var(--color-primary);
}

.header li.active a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--color-primary);
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header button:hover {
  background-color: var(--color-grey-400);
  border-color: var(--color-grey-800);
}
