@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-success-500: hsl(135, 100%, 40%);
  --color-error-500: hsl(0, 100%, 45%);

  --color-gray-light: #ebe8e8;
  --color-gray-medium: #88889d;
  --color-gray-dark: #302f38;
  --color-primary: #104d85;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-10: 2.5rem;
  --size-12: 3rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --size-28: 7rem;
  --size-32: 8rem;
  --size-36: 9rem;
  --size-40: 10rem;
  --size-44: 12rem;
  --size-48: 14rem;
  --size-52: 16rem;
  --size-56: 18rem;
  --size-60: 20rem;

  --page-size: 60rem;
  --page-size-wide: 80rem;

  margin: 0;
  background-color: var(--color-white);
  color: var(--color-gray-dark);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
